<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Страница не найдена</title>
    <style>
        body {
            font-family: "Lato", sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        h1 {
            color: #ff0000;
        }
    </style>
</head>
<body>
    <h1>404 - Страница не найдена</h1>
    <p>К сожалению, страница, которую вы ищете, не существует.</p>
    <a href="/">Вернуться на главную страницу</a>
</body>
</html>
