<p>Список пользователей в хранилище</p>

      <div class="table-responsive small">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Имя</th>
              <th scope="col">Фамилия</th>
              <th scope="col">День рождения</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>       
              <td>{{ user.getUserId() }}</td>   
              <td>{{ user.getUserName() }}</td>
              <td>{{ user.getUserLastName() }}</td>
              <td>{% if user.getUserBirthdayToTimestemp() is not empty %}
                    {{ user.getUserBirthdayToTimestemp() | date('d.m.Y') }}
                  {% else %}
                    <b>Не задан</b>
                  {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

<script>
    let maxId = $('.table tbody tr:last-child td:first-child').html() || 0;

    setInterval(function () {
        $.ajax({
            method: 'POST',
            url: "/user/indexRefresh/",
            data: { 'maxId': maxId }
        }).done(function (response) {
            let users = JSON.parse(response); 
             // Проходим по каждому пользователю в ответе
            for (var k in users) {
                    let row = "<tr>";
                    row += "<td>" + users[k].id + "</td>";
                    maxId = users[k].id; // Обновляем maxId после получения данных

                    row += "<td>" + users[k].username + "</td>";
                    row += "<td>" + users[k].userlastname + "</td>";
                    row += "<td>" + users[k].userbirthday + "</td>";
                    row += "</tr>";


                $('.table tbody').append(row); // Добавляем строку в таблицу
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.error("Ошибка при получении данных: ", textStatus, errorThrown);
        });
    }, 10000);
</script>
